.topApp{
  display: flex;
  justify-content: center;
}

.App {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #293462;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  max-width: 650px;
  padding-left: 20px;
  padding-right: 20px;
}
.heading {
  color: #d61c4e;
  margin-top: 50px;
}
.videoresumeContainer{
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}
.videoresume{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
/*About section*/

.linkedinBlue {
  color: #0a66c2;
}
.hackerrankGreen {
  color: #26b859;
}
.gmailRed {
  color: #d63031;
}
.githubBlack {
  color: #222222;
}
.about-top {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.dp {
  max-height: 120px;
  float: left;
  margin-right: 30px;
}
@media screen and (min-width: 470px) {
  .myName {
    margin-top: 0px;
  }
}
.justifyText {
  text-align: justify;
}

/*Experience section*/
.link-blue{
  color: #253da7;
}